div {
    display: flex;
    justify-content: center;
}

#foguetes img {
    top: 280px;
    position: absolute;
    width: 20%;
    z-index: 101;
}

#menuImagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 100;
    position: absolute;
    left: 460px;


}

#myVideoWin {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#myVideoLose {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    -webkit-filter: grayscale(1);
    filter: grayscale(100%);

}

.start-btn{
    text-align: center;
    display: inline-block;
    margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: yellow;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;

    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;


    z-index: 100;
    position: absolute;
    right: 10px;
    bottom: 20px;

    width: 20%;



}